html {
	scroll-behavior: smooth;
}
body {
	background: white;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
div.header {
	position: fixed;
	background: transparent;
	float: left;
	width: 100%;
	font-family: 'Fira Sans', sans-serif;
	z-index : 1;
	height: 100px
}
div.attached {
	color: white !important;
	transition: 0.25s;
	box-shadow: 0px 1px 10px transparent;
}
div.detached {
	color: #949494 !important;
	transition: 0.25s;
}
div.scroll {
	border-style: solid;
	border-color: #c8895f;
	border-width: 0px 0px 3px 0px;
	position: absolute;
	border-radius: 2px;
}
div.underTitle {
	transition: 0.5s;
	width: 211px;
	top: 60px;
	left: 50px;
}
div.underAbout {
	transition: 0.5s;
	width: 57px;
	top: 60px;
	left: calc(100% - 431px);
}
div.underProjects {
	transition: 0.5s;
	width: 72px;
	top: 60px;
	left: calc(100% - 273px);
}
div.underContact {
	transition: 0.5s;
	width: 68.8px;
	top: 60px;
	left: calc(100% - 118px);
}
div.typingLock {
	float: left;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #28303a;
	text-align: center;
}
div.aboutLock {
	float: left;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 400px;
	background: #dbdbdb;
}
div.about {
	position: absolute;
	height: 100%;
	width: 90%;
	padding: 5%;
}
div.projectLock {
	height: auto;
	width: 100%;
	float: left;
	background: #d1d1cf;
}
div.contactLock {
	float: left;
	width: 99%;
	height: 300px;
	padding-left: 0.5%;
	padding-right: 0.5%;
}
div.card {
	transition: 0.5s;
	float: left;
	width: 458px;
	height: 250px;
	background: white;
	margin: 0px;
	margin-left: 40px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 0px 1px 5px #e8e8e8;
}
div.card:hover {
	transition: 1s;
	box-shadow: 0px 1px 15px #b0b0b0;
}
img.card {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 25%, 8% 17%, 0 10%);
	float: right;
	height: 100%;
	width: 150px;
	border-radius: 0px 20px 20px 0px;
}
div.title {
	padding-top: 20px;
	padding-left: 20px;
	width: calc(100%-20px);
	height: 65px;
	width: 49%;
	float: left;
}
p.projectDesc {
	color: #28303a;
	padding: 0px;
	margin: 0px;
	padding-left: 30px;
	height: 78%;
	width: 50%;
}
div.icon svg {
	height: 80px;
	width: 80px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 15px;
	float: left;
}
div.innerProjects {
	position: absolute;
}
div.project {
	padding-bottom: 155px;
	height: auto;
	position: relative;
}
p.projectTitle {
	font-size: 40px;
	color: #f3f3f1;
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
}
p.projectDescription {
	font-size: 18px;
	color: #f3f3f1;
	margin: 0px;
	padding: 0px;
	padding-top: 40px;
	padding-left: 20px;
	max-width: 40%;
}
div.projectLinks {
	background: green;
	margin-top: 15px;
	margin-left: 10px;
}
div.projectLink {
	transition: 0.5s;
	display: inline-block;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 20px;
	border-radius: 5px;
	border: 2px solid #f3f3f1;
	float: left;
	margin-left: 10px;
}
div.projectLink:hover {
	transition: 0.5s;
	background: #f3f3f1;
}
div.projectLink:hover .projectButtonTag{
	transition: 0.5s;
	color: #4192cc;
}
p.projectButtonTag {
	transition: 0.5s;
	margin: 0px;
	font-size: 20px;
	color: #f3f3f1;
}
div.screepsDrawing {
	width: 100%;
	height: 100%;
	position: absolute;
}
div.rock {
	background: #343738;
	position: absolute;
	border-radius: 20px 20px 0px 0px;
}
div.rockCorner {
	background: #343738;
	position: absolute;
}
div.screep {
	background: red;
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	position: absolute;
	transition: 1s;
}
div.stats {
	position: absolute;
	height: 100%;
	width: 750px;
}
div.innerStat {
	position: relative;
	top: 20%;
	left: 15%;
	width: 80%;
	height: 55%;
}
div.stat {
	float: left;
	text-align: center;
	position: relative;
	width: 33%;
	height: 50%;
}
p.statLabel {
	color: white;
	font-size: 1.5em;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
p.stat {
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	color: white;
	font-size: 3em;
}
div.benM {
	height: 80vh;
	width: 50%;
	margin-left: 2%;
	margin-top: 1%;
	float: left;
}
div.details {
	height: 93%;
	width: 45%;
	margin-left: 2%;
	margin-top: 1%;
	float: left;
}
div.detail {
	float: left;
	width: 100%;
	margin-bottom: 10%;
}
img.detail {
	float: left;
	margin-left: 20px;
}
p.picker {
	opacity: 0.4;
	font-size: 30px;
	color: #28303a;
	margin-top: 30vh;
	margin-left: 60px;
	margin-bottom: 0px;
}
a.hidden {
	text-decoration: none;
}
p.last {
	border-color: transparent !important;
}
p.link {
	color: #28303a !important;
	transition: 0.5s;
	text-decoration: underline;
	text-decoration-color: #171516;
}
p.link:hover {
	transition: 0.5s;
	text-decoration-color: #c99149;
}
p.link2 {
	transition: 0.5s;
	text-decoration: underline;
	text-decoration-color: #e75a4d;
}
p.link2:hover {
	transition: 0.5s;
	text-decoration-color: #c99149;
}
p.detail {
	float: left;
	font-size: 25px;
	margin-top: 25px;
	margin-right: 30px;
	margin-left: 25px;
	margin-bottom: 25px;
	font-family: 'Fira Sans', sans-serif;
	color: #28303a;
	font-weight: bold;
}
p.header {
	color: #7a7a7a;
	transition: 0.75s;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 3px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position: absolute;
	top: 20px;
	height: 3%;
}
p.attachedT {
	transition: 0.25s;
	color: #f3f3f1 !important;
}
p.attachedH {
	transition: 0.25s;
	color: #f3f3f1 !important;
}
p.a {
	right: 375;
}
p.p {
	right: 200px;
}
p.c {
	right: 50px;
}
p.header:hover {
	transition: 0.75s;
	color: #c99149 !important;
}
p.title {
	transition: 0.25s;
	color: #7a7a7a;
	top: 10px;
	position: absolute;
	height: 20px;
	left: 50px;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 3px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p.about {
	color: #7a7a7a;
	font-size: 21px;
	margin: 0px;
	width: 100%;
}
b.highlight {
	color: #c99149;
}
p.type {
	transition: 0.5s;
	color: #7a7a7a;
	font-weight: 500;
	margin: 0px;
	padding: 0px;
	left: 4%;
	position: absolute;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p.hide {
	transition: 0.5s;
	opacity: 0 !important;
}
p.cmd {
	font-family: 'Blinker', sans-serif;
	transition: 0.5s;
	line-height: 3.5vw;
	font-size: 4em;
	color: #f3f3f1;
	font-weight: 500;
	margin: 0px;
	padding: 0px;
	padding-top: 10%;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#cmd1 {
	opacity: 1;
	transition: 0.5s;
}
#cmd2 {
	opacity: 0;
	transition: 0.5s;
}
b.solid {
	color: #c99149;
}
b.blink {
	color: transparent;
	animation: blink 1.25s step-end infinite;
}
@keyframes blink {
    from, to {
		color: transparent;
	}
	50% {
		color: #c8895f;
	}
}
img.self {
	box-shadow: 0px 1px 4px #a3a3a3;
	float: left;
	margin-right: 50px;
	width: 24%;
	border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
	margin-top: 100px;
}

a.project {
	text-decoration: none;
	color: #7a7a7a !important;
	transition: 0.3s;
	text-decoration: underline;
  text-decoration-color: #4286f4;
}
a.project:hover {
	transition: 0.5s;
	text-decoration-color: #2d5faf;
}

div.msg {
	background-color: white;
	box-shadow: 0px 1px 1px #a3a3a3;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-radius: 40px;
	height: 50px;
	position: relative;
	width: calc(100% - 70px);
	top: calc(100% - 80px);
}
input.msg {
	transition: 0.5s;
	width: 90%;
	height: 50px;
	font-size: 30px;
	border-width: 0px 0px 1px 0px;
	border-color: #7a7a7a;
	background: transparent;
}
input.msg:focus {
	transition: 1s;
	outline: 0;
	border-color: #c99149;
	border-width: 0px 0px 2px 0px;
}
div.drawing {
	float: right;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 55%;
	height: 100%;
}
div.desc {
	padding-top: 125px;
	margin-left: 100px;
	height: 100%;
}
div.phoneDrawing {
	position: absolute;
	bottom: 0px;
	right: 20px;
	background: #28303a;
	width: 325px;
	height: 371px;
	border-radius: 30px 30px 0px 0px ;
}
div.phoneScreen {
	background: #dbdbdb;
	width: 295px;
	height: 325px;
	margin-left: 15px;
	margin-top: 46px;
}
